/* Estilos para el encabezado */
html {
    scroll-behavior:smooth;
    height: 100%;
  }
  body {
    font-family: Arial, sans-serif;
  
    scroll-behavior:smooth;
    height: 100%;
  
  }
div#banner img {
    width: 50%;
}
header {
    background-color: #eee;
    padding: 20px;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  header img {
    width: 150px;
    border-radius: 75px;
  }
  
  header p {
    font-size: 18px;
    margin: 0;
  }
  
  /* Estilos para el banner */
  #banner {
    margin: 20px 0;
  }
  
  #banner img {
    max-width: 100%;
  }
  
  /* Estilos para los posts */
  .post {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .post h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }
  
  .post p {
    font-size: 16px;
    margin: 0;
  }
  
  .post img {
    margin-top: 15px;
    max-width: 100%;
  }
  
  a.sub-b {
    font-size: 110%;
    width: 100%;
    background-color: BLACK;
    color:white;
    align-items: center;
    height:45px;
    border-radius: 20px;
display: inline-flex;

    background-size: 400%;
  }
  a.sub-b text{
    margin-left: 10px;
  }
line.epiclineever {

  display: inline-block;
    width: 100%;
    background-color: black;
    height: 5px;
}