html {
    scroll-behavior:smooth;
    height: 100%;
  }
  body {
    font-family: Arial, sans-serif;
    /* background-image: url("bg.png"); */
    background-color: rgb(49,51,56);
    background-repeat: round;  
    scroll-behavior:smooth;
    color:white;
    font-size: 120%;
    height: 100%;
  
  }
user {
  position: fixed;
 

}
user bg {
  display: block;
  background-color:RGB(43,45,49);
  border-color: black;
  border-width: 150px;
  width: 300px;
  height: 720px;
}
user img.banner {
  position: fixed;
  width: 275px;
  margin-top: 10px;
  margin-left: -140px;
  /* opacity: 75%; */
  border-radius: 0;

}
user img.avatar {
  position: fixed;
  width: 75px;
  margin-top: 65px;
  margin-left: -125px;
  /* opacity: 75%; */
  border-radius: 50%;

}
user name {

  position: fixed;
  margin-top: 160px;
  margin-left: -120px;


}
user name a {
  color: whitesmoke;

}